
.d3-component svg {
  background: #ddd;
  max-height: 300px;
}

@media all and (max-width: 1000px) {
  .d3-component svg {
    max-height: 200px;
  }
}


body{
  padding:0px !important;
  margin:0px  !important;
  overflow: hidden !important;
}
.idyll-text-container {
    max-width: 90vw !important;

}
.idyll-root {
  box-sizing: border-box;
  padding:0px !important;
  margin:0px  !important;
  max-width: 90vw !important;
}

.left{
  padding: 40px;
  /* width: 50vw; */
}